<style>
        body {
            background-color: #222;
            color: #fff;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            color: #fff;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #555;
        }

        th {
            background-color: #222;
        }

        .menu-bar {
            background-color: #333;
            padding: 10px;
        }

        .menu-bar a {
            margin-right: 10px;
            text-decoration: none;
            color: #007bff;
            padding: 5px;
            border-radius: 5px;
        }

        .menu-bar a:hover {
            background-color: #555;
            color: #fff;
        }
</style>