{% extends 'base.html' %}

{% block title %}
Rate List
{% endblock title %}

{% block content %}
<a href="{% url 'currency:rate_create' %}">Create</a><br>
<table>
    <tr>
        <th>ID</th>
        <th>Buy</th>
        <th>Sell</th>
        <th>Currency</th>
        <th>Source</th>
        <th>Created</th>
        <th></th>
        <th></th>
    </tr>

    {% for row in rate_list %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.buy }}</td>
        <td>{{ row.sell }}</td>
        <td>{{ row.currency }}</td>
        <td>{{ row.source }}</td>
        <td>{{ row.created }}</td>
        {% if request.user.is_superuser%}
            <td><a href="{% url 'currency:rate_details' row.id %}">Details</a></td>
            <td><a href="{% url 'currency:rate_update' row.id %}">Edit</a></td>
            <td><a href="{% url 'currency:rate_delete' row.id %}">Delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}