{% extends 'base.html' %}

{% block title %}
Rate List
{% endblock title %}

{% block content %}
<a href="/rate/create/">Create</a><br>
<table>
    <tr>
        <th>ID</th>
        <th>Buy</th>
        <th>Sell</th>
        <th>Currency</th>
        <th>Source</th>
        <th>Created</th>
        <th></th>
        <th></th>
    </tr>

    {% for row in data %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.buy }}</td>
        <td>{{ row.sell }}</td>
        <td>{{ row.currency }}</td>
        <td>{{ row.source }}</td>
        <td>{{ row.created }}</td>
        <td><a href="/rate/details/{{ row.id }}/">Details</a></td>
        <td><a href="/rate/update/{{ row.id }}/">Edit</a></td>
        <td><a href="/rate/delete/{{ row.id }}/">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}