{% extends 'base.html' %}

{% block title %}
Source List
{% endblock title %}

{% block content %}
<a href="{% url 'currency:source_create' %}">Create</a><br>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Source URL</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    {% for row in source_list %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.source_url }}</td>
        <td><a href="{% url 'currency:source_details' row.id %}">Details</a></td>
        <td><a href="{% url 'currency:source_update' row.id %}">Edit</a></td>
        <td><a href="{% url 'currency:source_delete' row.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}